article {
    font-family: "Sankofa Display", sans-serif;
    padding: 10px;
    padding-left: 30px;
    margin: 10px;
}

article h2 {
    font-size: 32px;
    background-color: coral;
    color: crimson;
    border-radius: 10px 10px 0 0; 
    margin-bottom: 0;   
}

article p {
    margin-top: 0;
    background-color: lightgoldenrodyellow;
    border-radius: 0 0 10px 10px; 
}

input {
    transition-property: background-color, transform;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

input:focus {
    background-color: red;
    transform: scale(2, 1.5) rotate(30deg);
    transition-property: background-color, transform;
    transition-duration: 3s;
    transition-timing-function: ease-out;
}